/GuiaN.4/MySQL_conexion_Guia4Version2/nbproject/private/
/GuiaN.4/MySQL_conexion_Guia4Version2/build/
/GuiaN.4/MySQL_conexion_Guia4Version2/dist/
/GuiaN.4/MySQL_conexion_Guia4Version2Prueba/nbproject/private/
/GuiaN.4/MySQL_conexion_Guia4Version2Prueba/build/
/GuiaN.4/MySQL_conexion_Guia4VersionFinal/nbproject/private/
/GuiaN.4/MySQL_conexion_Guia4VersionFinal/build/
